* {
  min-height: 0;
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 14px;
}
window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(26, 27, 38, 0.8);
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
border-radius: 10px;
background: transparent;
transition: none;
padding-left: 12px;
padding-right: 6px;
}

#workspaces button {
transition: none;
color: #e0af68;
background: transparent;
margin-right: 10px;
}

#workspaces button.persistent {
transition: none;
color: #7aa2f7;
background: transparent;
font-size: 4px;
}

#workspaces button.empty {
color: #7aa2f7;
font-size: 2px;
transition: none;
background: transparent;
}

#workspaces button.active {
transition: none;
color: #e0af68;
background: transparent;
font-size: 4px;
}


#clock,
#pulseaudio,
#battery,
#cpu,
#tray,
#memory,
#temperature,
#window {
  padding: 0px 8px;
  margin: 6px 3px;
  color: #a9b1d6;
  border-radius: 20px;
  background-color: transparent;
}
#custom-logo {
  padding: 0px 10px;
}

#tray {
  font-size: 10px;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#custom-spotify.playing {
  color: #a6e3a1;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #a9b1d6;
}

#memory {
  color: #a9b1d6;
}

#clock {
  color: #a9b1d6;
}

#temperature{
color: #a9b1d6;
}

#clock.date {
  color: #e0af68;
}

#window {
  color: #e0af68;
}

#pulseaudio {
  color: #a9b1d6;
}

#pulseaudio.muted {
  color: #f7768e;
}

tooltip {
  border-radius: 8px;
}
